.container {
  height: 960px;
  background: url("Images/mainLogo.png");
}

.colorOverlay {
  width: 100%;
  height: 100%;
  background-color: #2A6CEA;
  opacity: 80%;
}

@media only screen and (max-width: 500px) {
  .container
  {
    height: 596px;
  }
}

@media only screen and (max-width: 320px) {
  .container
  {
    height: 506px;
  }
}